body {
	background-image: url("backG.jpg");
	background-color: #5C0F10;
	background-size: 1536px 732px;
	color: #000000;
	font-family: "TH SarabunPSK";
	font-style: normal;
	font-weight: 400;
    /*background-position: center;*/ 
}
